.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .left {
        flex: 1;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;
        padding: 0px 20px;

        form {
          display: flex;
          // flex-wrap: wrap;
          gap: 30px;
          justify-content: space-between;

          .formInput {
            width: 50%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }

            span {
              color: red;
              font-size: 10px;
            }

            img {
              width: 100px;
              height: 100px;
              // border-radius: 50%;
              object-fit: cover;
            }

            .iconClose {
              color: #ffffff;
              display: flex;
              align-items: center;
              background: red;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              z-index: 999;
              position: absolute;
              transform: translate(90px, -110px);
              cursor: pointer;
            }
          }

          .formInput1 {
            width: 100%;
            // padding: 10px;

            label {
              display: flex;
              align-items: center;
              gap: 10px;
            }
            span {
              color: red;
              font-size: 10px;
            }

            .checkbox {
              display: flex;
              flex-direction: column;
              border: 1px solid black;
              padding: 10px;
              margin-top: 6px;
            }

            .sizeWrapp {
              display: flex;
              gap: 10px;
              justify-content: space-between;
              max-width: 300px;

              .btn {
                color: red;
                cursor: pointer;
              }
            }

            .inputWrapp {
              display: flex;
              align-items: center;
            }

            input {
              padding: 6px;
            }

            .buttonColor {
              background-color: teal;
              font-size: 14px;
              padding: 8px;
              font-weight: bold;
              margin-left: 10px;
              color: white;
              cursor: pointer;
            }
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;

            &:disabled {
              background-color: grey;
            }
          }
        }
      }
    }
  }
}
